<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">
<div th:fragment="content">
  <h2>Adicionar Livro</h2>
  <form th:action="@{/admin/add-book}" method="post" th:object="${livro}">
    <label>Título: <input type="text" th:field="*{titulo}" required/></label><br/>
    <label>Autor: <input type="text" th:field="*{autor}" required/></label><br/>
    <label>Ano: <input type="number" th:field="*{ano_publicacao}"/></label><br/>
    <label>ISBN: <input type="text" th:field="*{isbn}"/></label><br/>
    <label>Total: <input type="number" th:field="*{quantidade_total}" value="1"/></label><br/>
    <label>Disponível: <input type="number" th:field="*{quantidade_disponivel}" value="1"/></label><br/>
    <button type="submit">Adicionar</button>
  </form>
</div>
</html>
